{:paths ["src/cljc"]

 :deps {}

 :aliases
 {:be
  {:extra-deps
   {fentontravers/websocket-server {:mvn/version "0.4.11"}}
   :extra-paths ["src/clj"]}

  :be-dev
  {:extra-paths ["test/clj" "test/cljc"]}

  :fe
  {:extra-deps
   {rum {:mvn/version "0.11.3"}
    garden {:mvn/version "1.3.6"}
    org.clojure/core.async {:mvn/version "0.4.490"}
    fentontravers/websocket-client {:mvn/version "0.4.8"}
    play-cljs {:mvn/version "1.2.0"}
    datascript {:mvn/version "0.17.1"}}
   :extra-paths ["src/cljs" "resources" "target"]}

  :fig {:main-opts ["-m" "figwheel.main"]}

  :fe-dev
  {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.0"}}
   :extra-paths ["test/cljs" "test/cljc"]}}}
