{:paths ["src/cljs" "resources" "target"]
 :deps {rum {:mvn/version "0.11.3"}
        garden {:mvn/version "1.3.6"}}
 :aliases
 {:dev
  {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.0"}}}}}
